.about {

    .body {

        .title {
            margin-bottom: 15px;
        }

        &--right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            img {
                max-height: calc(50vh - 110px);
                object-fit: cover;
                object-position: top;
            }
        }

        &--left {

            .end {
                text-align: right;
                width: fit-content;
                margin-left: auto;
                transform: rotate(90deg);
            }
        }
    }

    img {
        width: 100%;

        &.seperator {
            width: auto;

            @media (max-width: $breakpoint) {
                width: 200%;
            }
        }
    }
}