.about {

    .body {

        &--right {

            img {
                max-height: calc(50vh - 100px);
                object-fit: cover;
                object-position: top;
            }
        }

        &--left {

            .end {
                text-align: right;
                width: fit-content;
                margin-left: auto;
                transform: rotate(90deg);
            }
        }
    }

    img {
        width: 100%;

        &.seperator {
            width: auto;
        }
    }
}