.book {

    .body {

        &--right {

        }

        &--left {

            .end {
                display: flex;

                &__arrow {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 200px;
                }

                .icon {
                    transform: rotate(90deg);
                }
            }
        }
    }
}