.book {

    .body {

        &--right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            img {
                object-fit: contain;
                width: 100%;
            }
        }

        &--left {

            .end {
                display: flex;

                &__arrow {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 200px;
                }

                .icon {
                    transform: rotate(90deg);
                }
            }
        }
    }
}