.book {

    .body {

        &--right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            img {
                object-fit: contain;

                @media (max-width: $breakpoint) {
                    width: 100%;
                }
            }
        }

        &--left {

            .end {
                display: flex;

                &__arrow {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 200px;
                }

                .icon {
                    transform: rotate(90deg);
                }
            }
        }
    }
}