.home {
    background-image: url("../static/Dosentelefon.png");
    background-repeat: round;
    
    &__hello {
        position: absolute;
        top: 57%;
        left: 40%;
        font-style: italic;
        font-size: 70px;
        transform: rotate(-2deg);
    }
}