.home {
    background-image: url("../static/17x24_Dosentelefon.png");
    background-repeat: round;
    
    &__hello {
        position: absolute;
        top: 59%;
        left: 40%;
        font-style: italic;
        font-size: 70px;
    }
}