.info {

    .body {

        &--right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (max-width: $breakpoint) {
                justify-content: flex-end;
            }

            .kleinGedrucktes {
                font-size: 10px;

                @media (max-width: $breakpoint) {
                    font-size: 6px;
                }
            }
        }

        &--left {
        }
    }
}