.intro {
  background-color: $black;
  display: flex;
  flex-direction: column;
  position: relative;

  h1 {
    color: $white;
    left: 20px;
    position: absolute;
    top: 20px;
  }

  img {
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: rotating;
    animation-timing-function: linear;
    margin: 50px;
  }
}
